.chat-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat-list-stack {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

@media (max-width: 37.5rem) {
  .chat-list {
    gap: 0.7rem;
  }
}
